:root {
    /* color */
    --clr-pink: hsl(322, 100%, 66%);
    --clr-pale-cyan: hsl(192, 100%, 96%);
    --clr-dark-cyan: hsl(192, 100%, 9%);
    --clr-grayish-blue: hsl(208, 11%, 55%);

    /* font-weight */
    --fnt-weight-normal: 100;
    --fnt-weight-normal-bold: 400;
    --fnt-weight-bold: 600;
    --fnt-weight-bolder: 700;

    /* font-family */
    --fnt-poppins: 'Poppins', sans-serif;
    --fnt-open-sans: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

/* Container */

.container {
    width: 100vw;
    height: 100vh;
}

/* || header */
.header {
    width: 100vw;
    height: 85vh;
    background-color: var(--clr-pale-cyan);
    background-image: url(../images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* object-fit: fill; */
}

.header__container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3.5rem;
    margin: 0 auto;
}

.header__container>img {
    width: 15%;
    min-width: 9rem;
}

.container__header-btn {
    font-size: 14px;
    text-align: center;
    background: rgb(255, 255, 255);
    font-family: var(--fnt-open-sans);
    font-weight: var(--fnt-weight-bolder);
    color: var(--clr-dark-cyan);
}

.btn {
    width: 14.5%;
    min-width: 8rem;
    height: 2.7rem;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 2rem;
    box-shadow: 0px 2px 10px -3px rgba(211, 211, 211, 0.80);
}

.btn:hover {
    color: lightslategray;
    transition: all 0.3s;
    /* box-shadow: 0px 2px 10px -1px rgba(211, 211, 211, 0.80); */
}

.header__body {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-family: var(--fnt-poppins);
}

.header__body-content>h1 {
    font-size: 2.4rem;
    width: 80%;
    margin: 1.8rem 0;
}

.header__body-content>p {
    font-size: 1.2rem;
    color: var(--clr-dark-cyan);
    font-family: var(--fnt-open-sans);
    font-weight: 100;
    width: 90%;
    margin: 0.5rem;
}

.header__body-btn {
    margin-top: 1.5rem;
    background-color: var(--clr-pink);
    color: rgba(255, 255, 255, 0.90);
    font-weight: var(--fnt-weight-bold);
    padding: 1.1rem 4rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    box-shadow: 0px 2px 10px 1px rgba(211, 211, 211, 0.80)
}

.header__body-img {
    margin-top: 0.6rem;
}

/* || Main content */
.card__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8rem 0;
}

.card__wrapper-content {
    width: 85%;
    height: 25rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 2rem;
    margin: 1rem 0;
    border-radius: 16px;
    font-family: var(--fnt-poppins);
    box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.10);
    /* flex-flow: row; */
    /* border: 1px solid black; */
}

.card__wrapper-content:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.card__wrapper-content:nth-child(2) .card__wrapper-data {
    position: relative;
    left: 18rem;
    margin: 0;
}

.card__wrapper-content:nth-child(2) p {
    width: 62%;
}

.card__wrapper-content:nth-child(2) img {
    margin-left: 5rem;
}

.card__wrapper-data {
    width: 100%;
    margin-left: 5rem;
}

.card__wrapper-data>h1 {
    font-size: 1.6rem;
}

.card__wrapper-data>p {
    width: 59.5%;
    font-size: 1rem;
    font-family: var(--fnt-open-sans);
    font-weight: 200;
    color: gray;
    margin: 1rem 0;
}

.card__wrapper-img>img {
    width: 100%;
    height: 100%;
}

/* || overlap */
.overlap {
    position: relative;
    top: 5rem;
    width: 53%;
    height: fit-content;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    border-radius: 14px;
    box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.10);
}

.overlap h1 {
    font-size: 1.8rem;
    font-family: var(--fnt-poppins);
    padding-top: 3.5rem;
}

.overlap button {
    width: 50%;
    height: 4.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 1.1rem;
    letter-spacing: 0.3px;
    font-family: var(--fnt-open-sans);
    font-weight: var(--fnt-weight-bold);
    color: rgba(255, 255, 255, 0.95);
    background-color: var(--clr-pink);
    box-shadow: 0px 2px 10px 1px rgba(211, 211, 211, 0.80)
}

/* || Footer */
.footer {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-dark-cyan);
    border: 1px solid rebeccapurple;
    color: rgba(255, 255, 255, 0.90);
}

.footer__col {
    width: 85vw;
    height: fit-content;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem 0;
}

.footer__col-one {
    width: 30%;
    font-size: 1.1rem;
}

.footer__col-four {
    display: flex;
    justify-content: center;
    align-items: start;
}